<!DOCTYPE HTML>

<html>

<head>
	<title>Login</title>
</head>

<body>
	{% if name %}
	<h1>Hello {{name}}!! You have successfully submitted the form</h1>
	{% else %}
	
	<div class="container">
		<h1>Login</h1>
		<!-- This is where our form will go. -->
		<form method="POST" action="{{url_for('login')}}">
			{{ form.hidden_tag() }}
			<p>
				{{ form.name.label }}<br>
				{{ form.name(size=32) }}<br>
				{{form.password.label}}<br>
				{{form.password}}<br>				
			</p>
			<p>{{ form.submit() }}</p>
		</form>
	</div>
	{% endif %}
</body>

</html>